body {
    background-color: darkgreen;
    justify-content: center;
}
#game_container {
    background-color: purple;
    margin: auto;
    border: 6px purple solid;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
}
.button {
    background-color: darkorange;
    text-align: center; 
    border: 3px purple solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    height: 60px;  
    text-shadow: 3px 1px blue;  
}
.flex_item {
    margin: 2px auto;
    color: white;
    font-size: auto;
    flex-grow: 1;
}
h1 {
    text-align: center;
}
#name {
    background-color: black;
    color: white;
}
.column {
    flex-direction: column;
    height: auto;
    flex-wrap: nowrap;
}